@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@400;500;700&family=Space+Mono:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header {
    font-family: 'Inconsolata', monospace;
    font-weight: 700;
    font-size: 24px;
    line-height: 25px;
    margin: 20px 0 64px 0;
    letter-spacing: -2.1px;
}

header, main {
    padding: 0 0 0 24px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

main img {
    align-self: center;
    max-width: 287px;
    max-height: 238px;
    margin-bottom: 60px;
}

.text-container {
    font-family: 'Space Mono', monospace;
}

.text-container h1 {
    font-size: 48px;
    color: #333333;
    max-width: 350px;
    max-height: 142px;
    letter-spacing: -1.9px;
    margin-bottom: 30px;
}

.text-container p {
    font-size: 18px;
    color: #4F4F4F;
    margin-bottom: 66px;
    line-height: 27px;
}

.text-container button {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    padding: 23px 43px;
    border: 0;
    background-color: #333333;
    font-family: 'Space Mono', monospace;
    color: white;
    line-height: 21px;
    letter-spacing: -0.035em;
    margin-bottom: 114px; 
}

footer {
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 24px;
    text-align: center;
}

footer a {
    color: #BDBDBD;
    font-weight: 700;
}

@media (min-width: 1440px) {
    header {
        margin: 40px 0 0 77px;
        padding: 0;
    }

    main {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 0;
        margin: auto 0;
    }

    main img {
        max-height: 447px;
        max-width: 539px;
        align-self: flex-start;
    }

    .text-container h1 {
        font-size: 64px;
        max-width: 586px;
        line-height: 95px;
        margin-bottom: 36px;
        max-height: 190px;
    }

    .text-container p {
        font-size: 24px;
        line-height: 36px;
        letter-spacing: -0.035em;
        max-width: 381px;
        margin-bottom: 64px;
    }


}